:root {
  --main: #1ccad8;
  --light-bg: #f0f0f2;
  --light-shadow: #dee4e4;
  --dark-bg: #323636;
  --dark-shadow: #64696c;
  --action: #ea9239;
  --success: #75e3b5;
  --failure: #b83d43;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

a {
  color: inherit;
}

body {
  background: url(/images/background.jpg);
  background-size: 100vw;
  background-attachment: fixed;
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif;
}

/* Header */

header {
  background-color: var(--main);
  color: var(--dark-bg);
  text-align: center;
  height: 80px;
  line-height: 80px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

main {
  margin-top: 80px;
  padding: 30px;
  background: rgba(50, 54, 54, 0.6);
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: calc(100vh - 140px);
}

h2 {
  color: var(--light-shadow);
  font-size: 52px;
  text-align: center;
}

.leagues {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.league-logo {
  width: 250px;
  margin: 30px;
  padding: 20px;
  border-radius: 10px;
  background: var(--dark-shadow);
  transition: all 0.2s ease-in-out;
}

.league-logo:hover,
.team-list-item:hover,
.squad-player:hover {
  filter: drop-shadow(2px 2px 30px #fff);
}

.hi {
  font-size: 64px;
  color: white;
}

.league-landing,
.team-landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: -50px;
}

.badge {
  margin-bottom: 30px;
}

.league-name {
  color: var(--light-shadow);
  font-weight: bold;
  font-size: 56px;
}

.league-summary {
  min-height: 80vh;
}

.section-title {
  color: var(--main);
  font-weight: bold;
  font-size: 32px;
}

.league-description,
.team-description {
  color: var(--light-shadow);
  font-size: 22px;
  margin-top: 30px;
}

.league-table {
  text-align: center;
  border: 2px solid var(--main);
  border-radius: 10px;
  font-size: 1.5rem;
  margin: 30px 0 100px 0;
}

.league-table thead {
  background: var(--main);
  color: var(--dark-bg);
}

.league-table tbody {
  color: var(--light-shadow);
  background: var(--dark-shadow);
  transition: 0.3s all ease;
}

.league-table td {
  height: 50px;
  width: 120px;
}

.team-column {
  width: 200px;
}

.points {
  font-weight: bold;
}

.team-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-top: 50px;
  grid-gap: 30px;
}

.team-list-item {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--dark-shadow);
  border-radius: 20px;
  transition: all 0.2s ease-in-out;
}

.team-badge {
  max-height: 70%;
  max-width: 80%;
}

.team-list-name,
.squad-player-name {
  color: var(--light-shadow);
  font-size: 24px;
  text-align: center;
}

.team-name {
  color: var(--light-shadow);
  font-weight: bold;
  font-size: 56px;
}

.team-info {
  min-height: 100vh;
}

.results {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 50px 0 200px 0;
}

.result {
  width: 250px;
  height: 70px;
  text-align: center;
  border: 2px solid var(--main);
  margin: 5px;
  border-radius: 10px;
  font-size: 1.2rem;
}

.result:hover tbody {
  background: var(--main);
  color: var(--dark-bg);
}

.result thead {
  background: var(--main);
  color: var(--dark-bg);
}

.result tbody {
  color: var(--light-shadow);
  background: var(--dark-shadow);
  transition: 0.3s all ease;
}

.result td {
  height: 35px;
}

.highlights {
  font-weight: bold;
}

.success {
  background: var(--success);
  color: var(--dark-bg);
}

.failure {
  background: var(--failure);
}

.team-summary {
  display: flex;
  justify-content: space-between;
}

.team-description {
  max-width: 50%;
}

.team-media {
  max-width: 40%;
  color: var(--light-shadow);
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.team-media img {
  max-width: 100%;
}

.stadium-name span {
  color: var(--main);
}

.position {
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
}

.squad-player {
  background: var(--dark-shadow);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 250px;
  height: 300px;
  margin: 15px;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}

.player-background {
  background-size: cover;
  background-attachment: fixed;
  margin: -30px;
}

.player {
  background: rgba(50, 54, 54, 0.7);
}

.player-headshot {
  width: 90%;
}

.flag {
  width: 30px;
  margin-right: 10px;
}

.squad-title {
  margin: 40px 0;
}

.squad h3 {
  color: var(--light-shadow);
  font-size: 28px;
  font-weight: bold;
  margin: 15px;
}

.player-landing {
  min-height: 100vh;
  position: relative;
}

.player-banner {
  height: 350px;
  width: 100%;
  background: rgba(28, 202, 216, 0.5);
  position: absolute;
  top: 25%;
  color: var(--light-shadow);
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  overflow: hidden;
}

.banner-left,
.banner-right {
  max-width: 50%;
}

.banner-left {
  display: flex;
  align-items: center;
  font-family: 'Oswald', sans-serif;
}

.position {
  font-size: 32px;
}

.profile-name {
  font-size: 48px;
}

.number {
  font-size: 180px;
  margin-left: 60px;
}

.player-banner img {
  margin-top: 10px;
  opacity: 0.7;
  transition: 0.2s all ease-in-out;
  height: 400px;
}

.player-banner img:hover {
  opacity: 1;
}

.player-details {
  display: flex;
}

.player-details img,
.personal {
  width: 50%;
  min-width: 372px;
  margin: 10px;
}

.personal-title {
  color: var(--light-shadow);
  border-bottom: 1px solid var(--main);
  font-weight: bold;
  font-size: 30px;
  padding-bottom: 10px;
}

.personal-details {
  display: flex;
  flex-flow: column wrap;
  color: var(--light-shadow);
  font-weight: bold;
  line-height: 2;
  font-size: 24px;
  margin-top: 30px;
}

.personal-details span {
  color: var(--main);
}

.player-description {
  font-size: 22px;
  color: var(--light-shadow);
  padding: 30px;
  margin-top: 200px;
}

@media (max-width: 700px) {
  .player-banner {
    height: 700px;
    flex-direction: column;
    align-items: center;
    top: 7%;
    font-family: 'Oswald', sans-serif;
  }
  .banner-left {
    width: 100%;
    max-height: 60%;
    align-items: center;
    justify-content: space-between;
  }
  .banner-right {
    width: 100%;
    max-height: 40%;
    display: flex;
    align-items: flex-start;
  }

  .player-banner img {
    height: 350px;
  }

  .profile-name {
    font-size: 42px;
  }

  .number {
    font-size: 150px;
    margin-left: 20px;
  }

  .player-details {
    flex-direction: column-reverse;
    justify-content: space-around;
  }
}
